{
    "extends": ["eslint:recommended", "plugin:prettier/recommended"],
    "parserOptions": {
        "ecmaVersion": 2017,
        "sourceType": "module"
    },
    "rules": {
        "no-console": "off",
        "no-use-before-define": ["error", { "functions": false }],
        "func-names": ["off"],
        "complexity": ["error", 26],
        "curly": ["error", "all"],
        "dot-location": ["error", "property"],
        "dot-notation": ["error"],
        "eqeqeq": ["error", "always"],
        "guard-for-in": "error",
        "no-alert": "error",
        "no-script-url": "error",
        "no-proto": "error",
        "no-lone-blocks": "error",
        "no-loop-func": "error",
        "no-invalid-this": "error",
        "no-implied-eval": "error",
        "no-implicit-globals": "error",
        "no-shadow": "error",
        "global-require": "error",
        "comma-dangle": ["error", "never"],
        "camelcase": ["error", { "properties": "always" }],
        "no-prototype-builtins": "off"
    },
    "env": {
        "amd": true,
        "es6": true,
        "browser": true,
        "node": true
    },
    "globals": {
        "globalThis": false
    }
}
