

h1 {
    text-align: center;
}

body {
    padding-top: 60px;  
}
    
footer {
    margin-top: 45px;
    padding: 35px 0 36px;
    border-top: 1px solid #e5e5e5;
}

.drop-zone{
    border: 10px dashed #ccc;
    color: #ccc;
    font-size: 32px;
    height: 400px;
    line-height: 400px;
    text-align: center;
    width: 400px;
    overflow: hidden;
    position: relative;
}
    .drop-zone.drag-over{
        border: 10px dashed #0088CC;		
    }
    .drop-zone img {
        width: 400px;
        position: absolute;
        top: 0;
        left: 0;
    }

.small-drop-zone{
    margin-top: 20px;
    margin-left: 90px;
    border: 10px dashed #ccc;
    color: #ccc;
    font-size: 32px;
    height: 330px;
    line-height: 330px;
    text-align: center;
    width: 330px;
    overflow: hidden;
    position: relative;
}
    .small-drop-zone.drag-over{
        border: 10px dashed #0088CC;        
    }
    .small-drop-zone img {
        width: 330px;
        position: absolute;
        top: 0;
        left: 0;
    }
    #image-diff {
        margin-left: 0px;
        margin-top: 50px;
        border-style: solid;
    }
